<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Config.RootName }}</title>
    <link rel="icon" href="/images/logo.png">
    <link id="stylesheet" rel="stylesheet" href="/assets/styte-light.css">
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="alternate" type="application/rss+xml" title="{{ .Config.RootName }}" href="/rss.xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function changeTheme() {
            const body = document.body
            if (body.classList.contains("dark") === true) {
                body.classList.remove("dark")
                const stylesheet = document.getElementById('stylesheet');
                stylesheet.setAttribute('href', '/assets/styte-light.css');
                document.getElementById("fa-theme-switch").className = "fa fa-sun-o"
            } else {
                const stylesheet = document.getElementById('stylesheet');
                stylesheet.setAttribute('href', '/assets/styte-dark.css');
                body.classList.add("dark")
                document.getElementById("fa-theme-switch").className = "fa fa-moon-o"
            }
        }
    </script>
</head>

<body>
<div class="page-content">
    <div class="home">
        <section class="site-header">
            <h1 class="smallcap">
                <a class="site-title" href="/">{{ .Config.RootName }}</a>
            </h1>
            <p class="site-nav">
                <a class="site-nav-el" href="/">cd~</a> /
                <a class="site-nav-el" href="/about">about</a> /
                <a class="site-nav-el" href="/tags">tags</a> /
                <a class="site-nav-el" href="/poem">poem</a> /
                <a class="site-nav-el" href="/rss">rss</a> /
                <a class="site-nav-el theme-switch" onclick="changeTheme()"><i id="fa-theme-switch" class="fa fa-sun-o"></i></a>
            </p>
            {{- template "sub-header" . }}
        </section>
        <section class="site-body">
            {{- template "body" . }}
        </section>
        <div class="copyright">
            <p id="copyright">
                Copyright &copy;
                2021-
                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                🚀 <a href="/">{{ .Config.RootName }}</a>
            </p>
            <p style="margin-top: 0">
                <a href="{{ .Config.FindOn.Github }}"><i class="fa fa-github"></i></a>
                <a href="{{ .Config.FindOn.Twitter }}"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div>
</div>
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';

    mermaid.initialize({startOnLoad: true});
</script>
<script src="/assets/prism.js"></script>
<script src="/assets/style.js"></script>
</body>
</html>
