{{- define "body" }}
    <ul class="post-list">
        {{- range .Tag.Posts }}
            <li>
                <a class="post-link" href="{{ .URL }}">{{ .Title }}</a>
                <time datetime="2017-01-15T00:00:00+00:00">{{ .Date }}</time>
                <p>
                    {{- range .Tags }}
                        <a class="tag" href="/tags/{{ . }}">#{{ . }} </a>
                    {{- end }}
                </p>
            </li>
        {{- end }}
    </ul>
{{- end }}
