{{- define "body" }}
    <h1 style="font-weight: bold">Tags</h1>
    <div class="tags">
        {{- range .Tags }}
            <a class="tag" href="{{ .Path }}" style="background: {{ .ColorHEX }}">#{{ .Name }}({{ .Count }})</a>
        {{- end }}
    </div>
{{- end }}
