{{- define "body" }}
    <ul class="post-list">
        {{- range .Posts }}
            <li>
                <time datetime="2017-01-15T00:00:00+00:00">{{ .Date }}</time>
                <a class="post-link" href="{{ .URL }}">{{ .Title }}</a>
                {{- range .Tags }}
                    <a class="tag" href="/tags/{{ . }}">#{{ . }} </a>
                {{- end }}
            </li>
        {{- end }}
    </ul>
{{- end }}
